backend/assets/database/database.db
backend/__pycache__
backend/assets/content/data/*.json
backend/assets/content/data/*.csv
backend/db_creator 
backend/db_creator/film_info.csv
backend/.env
frontend/.dart_tool
frontend/.vscode
frontend/android
frontend/assets
frontend/build
frontend/ios
frontend/linux
frontend/macos
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
backend/config.ini
backend/assets/similarity_matrices.npz