backend/assets/database/database.db
backend/__pycache__
backend/db_creator 
backend/db_creator/film_info.csv
backend/.env
frontend/.dart_tool
frontend/.vscode
frontend/android
frontend/build
frontend/ios
frontend/linux
frontend/macos
frontend/test
frontend/windows
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
# backend/assets/similarity_matrices.npz
frontend/.metadata
frontend/analysis_options.yaml
frontend/Dockerfile
frontend/Makefile
frontend/pubspec.lock
docker-compose.yml
test.ipynb
.vscode
backend/Dockerfile
backend/assets/database/*.csv
# backend/assets/similarity_matrices.npz